<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:oliver="http://www.shiziyuan.top/schema/oliver"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.shiziyuan.top/schema/oliver
       http://www.shiziyuan.top/schema/oliver.xsd">


    <oliver:user id="user" age="25" name="oliver"/>

</beans>