<configuration  xmlns="http://ch.qos.logback/xml/ns/logback"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
                https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <appender name="myAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
<!--        <filter class="top.shiziyuan.springboot.log.KeywordLogFilter">-->
<!--            <keyword>success</keyword> //日志中含有此关键词的日志被打印-->
<!--        </filter>-->
    </appender>
    
    <appender name="asyncMyAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="myAppender"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="asyncMyAppender"/>
    </root>

    <logger name="top.shiziyuan.springboot" additivity="false">
        <appender-ref ref="asyncMyAppender"/>
    </logger>


</configuration>